extends /partials/layout.pug 

block dinosaur
    //
        ~
                                            O_
                                           /  >
                                          -  >   ^\
                                         /   >  ^ /
                                        (O)  > ^ /   / / /
           _____                        |       /    \\|//
          /  __ \                      _/      /     / _/
         /  /  | |                    /       /     / /
       _/  |___/ /                  _/      ------_/ /
     ==_|  \____/                 _/       /  ______/
         \   \                 __/           |\
          |   \_          ____/              / \      _
           \    \________/                  |\  \----/_V
            \_                              / \_______ V
              \__                /       \ /          V
                 \               \        \
                  \______         \_       \
                         \__________\_      \
                            /    /    \_    |
                           |   _/       \   |
                          /  _/          \  |
                         |  /            |  |
                         \  \__          |   \__
                         /\____=\       /\_____=\


append meta
    meta(name='description', content='A GPGPU Reaction-Diffusion simulator for the web.')
    meta(name='keywords', content='GPGPU, Reaction, Diffusion, Simulator, Gray, Scott, Three')

    title Reaction-Diffusion Simulator

append head
    style.
        #reaction-diffusion-container {
            max-width: 512px;
            max-height: 512px;
            width: 80vw;
            height: 80vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3em;
            margin-bottom: 1.5em;
            position: relative;
            
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }

append title
    | Reaction-Diffusion Simulator

append content
    object
        #reaction-diffusion-container
    p(style='text-align:center')
        strong(style="color: red;") Epilepsy Warning:
        |  Some settings can cause bright flashing.

    section
        p.
            This project is a GPGPU simulation of a #[a(href='http://mrob.com/pub/comp/xmorphia/') Gray-Scott] Reaction-Diffusion system. 
            Reaction-Diffusion systems have many interesting properties, and can be used to model various biological, chemical, 
            and ecological processes.
            
            Here, many of the presets you can try develop in a way similar to the formation of 
            skin pigments in spotted or striped animals.
            #[a(href="https://en.wikipedia.org/wiki/Reaction%E2%80%93diffusion_system") More reading here].
        p
            a(href='https://github.com/colejd/Reaction-Diffusion-ThreeJS') The code for this project is available on my GitHub page.
        p
            em Note: This will run at half precision on iOS due to browser limitations, so some of the presets may not behave as intended.
    
    // Disqus Stuff
    #disqus_thread(style="margin-top: 2em")
    script.
        var disqus_config = function () {
        this.page.url = "http://www.joncole.me/reaction-diffusion.html";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "reaction-diffusion"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//joncole.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.


append body
    script(src='https://unpkg.com/guify')
    script(src='dist/reaction-diffusion.min.js')

