extends /partials/layout.pug 

block dinosaur

    //
        ~
           .-~~^-.
         .'  O    \
        (_____,    \
         `----.     \
               \     \
                \     \
                 \     `.             _ _
                  \       ~- _ _ - ~       ~ - .
                   \                              ~-.
                    \                                `.
                     \    /               /       \    \
                      `. |         }     |         }    \
                        `|        /      |        /       \
                         |       /       |       /          \
                         |      /`- _ _ _|      /.- ~ ^-.     \
                         |     /         |     /          `.    \
                         |     |         |     |             -.   ` . _ _ _ _ _ _
                         |_____|         |_____|                ~ . _ _ _ _ _ _ _ >


append headinfo
    meta(name='ROBOTS', content='INDEX, FOLLOW')
    meta(name='description', content='Jon Trombone')
    title Jon Trombone

append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
    script(src='dependencies/OrbitControls.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.4/dat.gui.min.js')

append head
    style.
        div#jon-trombone-container {
            width: 512px;
            height: 512px;
            margin-top: 3.0em;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }




append content
    .row
        h1 Jon Trombone
        .col-md-10
            // Required: main container into which jon-trombone will render.
            #jon-trombone-container


        .col-md-10
            section#Main
                p.
                    This is what happens when I have too much free time. This is a 3D scan of me hooked
                    up to a modified version of <a href="https://dood.al/pinktrombone/">Pink Trombone</a>, 
                    which simulates the nose and throat to produce synthesized human vocals. You can play
                    around with the controls in the upper-right.
                p.
                    The source is available on <a href='https://github.com/seieibob/jon-trombone'>GitHub</a>.


append body
    script(src='js/jon-trombone.min.js')

