extends /partials/layout.pug 

block dinosaur

    //
        ~
           .-~~^-.
         .'  O    \
        (_____,    \
         `----.     \
               \     \
                \     \
                 \     `.             _ _
                  \       ~- _ _ - ~       ~ - .
                   \                              ~-.
                    \                                `.
                     \    /               /       \    \
                      `. |         }     |         }    \
                        `|        /      |        /       \
                         |       /       |       /          \
                         |      /`- _ _ _|      /.- ~ ^-.     \
                         |     /         |     /          `.    \
                         |     |         |     |             -.   ` . _ _ _ _ _ _
                         |_____|         |_____|                ~ . _ _ _ _ _ _ _ >


append headinfo
    meta(name='ROBOTS', content='INDEX, FOLLOW')
    meta(name='description', content='Jon Trombone')
    title Jon Trombone

append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
    script(src='dependencies/OrbitControls.js')

append head
    style.
        #jon-trombone-container {
            max-width: 512px;
            max-height: 512px;
            width: 80vw;
            height: 80vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5em;
            margin-bottom: 1.5em;
            position: relative;
        }

        #jon-trombone-container > canvas {
            width: 100% !important;
            height: 100% !important;
        }  

    // Get latest version of Guify off of NPM
    script(src='https://unpkg.com/guify')




append content
    .row
        .col-md-10
            // Required: main container into which jon-trombone will render.
            #jon-trombone-container
            hr


        .col-md-10
            section#Main
                h1 Jon Trombone
                p.
                    This is what happens when I have too much free time. This is a 3D scan of me hooked
                    up to a modified version of <a href="https://dood.al/pinktrombone/">Pink Trombone</a>, 
                    which simulates the nose and throat to produce synthesized human vocals. You can play
                    around with the controls in the upper-right.
                p.
                    Regrettably, this program supports MIDI playback. Use the GUI to load a MIDI file and
                    start the playback. Keep in mind that as of right now (wink wink nudge nudge) only one 
                    track and one voice is played, so chords won't work.
                p.
                    The source is available on <a href='https://github.com/seieibob/jon-trombone'>GitHub</a>.
                p.
                    Thanks to Toni Kaplan for repairing and rigging the 3D model.


append body
    script(src='js/jon-trombone.min.js')

