extends /partials/layout.pug 

block dinosaur

    //
        ~
                                   <\              _
                                    \\          _/{
                             _       \\       _-   -_
                           /{        / `\   _-     - -_
                         _~  =      ( @  \ -        -  -_
                       _- -   ~-_   \( =\ \           -  -_
                     _~  -       ~_ | 1 :\ \      _-~-_ -  -_
                   _-   -          ~  |V: \ \  _-~     ~-_-  -_
                _-~   -            /  | :  \ \            ~-_- -_
             _-~    -   _.._      {   | : _-``               ~- _-_
          _-~   -__..--~    ~-_  {   : \:}
        =~__.--~~              ~-_\  :  /
                                   \ : /__
                                  //`Y'--\\      
                                 <+       \\
                                  \\      WWW
                                  MMM

append meta
    meta(name='description', content='Unity project to help visualize laser reflections.')
    title Reflector Tester

append head
    link(rel='stylesheet', href='TemplateData/style.css')
    script(src="TemplateData/UnityProgress.js")
    script(src="Build/UnityLoader.js")

append title
    | Reflector

append content
    div.webgl-content
      div#gameContainer(style="width: 100%; height: 60%; max-width: 100%;")
      div.footer
        div.webgl-logo
        div.fullscreen(onclick="gameInstance.SetFullscreen(1);")
        div.title Reflector

    section
        h1 What is this thing?
        p.
            This is a quick project in Unity to help me explore a problem for Google's Foobar 
            challenge (Bringing a Gun to a Guard Fight). If you stumble across this page and you're 
            doing the challenge, I hope this helps you out! Note that this is #[em not] a solution; 
            it's just a way of exploring the math of the problem visually. If you're not here for 
            the challenge, please note that this is deliberately vague to preserve 
            its secrecy.
        p.
            Unity's WebGL integration doesn't like responsive layouts or high DPI screens,
            so I would recommend that you <a href="https://www.github.com/colejd/reflector">download the source</a> 
            and muck around with it in the editor.
        h1 Usage
        p.
            Mouse over any intersection on the grid to see information about the path of the laser. 
            You can toggle collision for the laser on both the player and the guard. Click to place 
            a "breadcrumb" on any spot on the grid to help you keep track of which angles will 
            constitute a valid bearing. Click on a breadcrumb to remove it.


    script.
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/Reflector.json", {onProgress: UnityProgress});