$navbar-width: 200px;

$text-color: $primary_text_color;
$background-color: #E8E8E8;

$brand-background-color: #424242;
$brand-text-color: #FFFFFF;

//$cell-color: #fff;
$cell-text-color: #000;
$cell-highlighted-color: #fff;
$cell-border-color: #B4B4B4;

#sidebar {
    font-family: $body-font;
    font-size: 12px;
    font-weight: 200;
    color: $text-color;

    background-color: $background-color;

    position: fixed;
    top: 0;
    width: $navbar-width;
    height: 100%;

    user-select: none;
    overflow: hidden;
    display: block;

    //border-right: 1px solid black;

    @include mobile {
        position: relative;
        width: 100%;
    }

    .toggle-btn {
        display: none;

        @include mobile {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;
            padding: 3px;
            background-color: transparent;
            color: $brand_text_color;
            width: 40px;
            text-align: center;
        }
    }

    .brand {
        background-color: $brand-background-color;
        color: $brand-text-color;

        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
        font-family: $title-font;

        @include mobile {
            text-align: left;
            font-size: 22px;
            padding-left: 20px;
            line-height: 50px;
        }

        a {
            color: $brand-text-color;
            text-decoration: none;
        }
    }

    #sidebar-cells {
        $desktop-cell-height: 35px;
        $mobile-cell-height: 45px;

        @include desktop {
            display: block;
        }
    
        // Cell list
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        // Cells
        ul li {
            cursor: pointer;

            height: $desktop-cell-height;
            line-height: $desktop-cell-height;

            @include mobile {
                font-size: 16px;
                line-height: $mobile-cell-height;
                height: $mobile-cell-height;
            }

            .cell-icon-container {

                display: inline-block;
                margin: 0;
                padding: 0;
                width: 30px;
                text-align: center;

                .span {
                    width: 100%;
                }

                @include desktop {
                    font-size: 14px;
                    .span {
                        line-height: 14px;
                    }
                }

                @include mobile {
                    font-size: 18px;
                    .span {
                        line-height: 18px;
                    }
                }

            }

            .cell-text {
                padding: 0;
                padding-left: 0.5em;
                display: inline-block;
                height: 100%;
                //vertical-align: top;
            }
    
            a {
                display: block;
                text-decoration: none;
                color: $cell-text-color;
                font-weight: 200;
                height: $desktop-cell-height;

                @include mobile {
                    height: $mobile-cell-height;
                }

                div {
                    padding-left: 10px;
                    width: 20px;
                    padding-right: 2.0em;
                    //font-size: 20px;
                }

            }

            .arrow:before {
                font-family: FontAwesome;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
                float: right;
                content: "\f078";
                transition: transform 0.25s ease;
            }
            &.collapsed .arrow:before {
                // Rotate the arrow when collapsed
                transform: rotate(90deg);
            }
            
            &:hover, &:focus {
                //border-left: 3px solid $cell-highlighted-accent-color;
                background-color: $cell-highlighted-color;
                transition: all 0.5s ease;

                .fa {
                    color: $primary-color;
                }
            }

            &:active {
                //background-color: $primary-color;
            }

        }

        // Cells in collapsible divs
        .sub-menu li {
            padding-left: 0.5em;
            border-left: 5px solid $brand-background-color;

            &:hover {
                border-color: $primary-color;
            }

            @include mobile {
                line-height: $mobile-cell-height;
            }
        }

    }

    // Style the "skip to main content" button for accessibility users
    .sr-only {
        background-color: $brand-background-color;
        color: $brand-text-color;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: $title-font;

        &:focus {
            color: $primary-color;
        }
    }

}

@include desktop {
    #body-container {
        margin-top: 0;
        width: calc(100% - #{$navbar-width});
        position: absolute;
        left: #{$navbar-width};
    }
}

@include mobile {
    .main-content {
        margin-top: 0.5em;
    }
}

@include desktop {
    .main-content {
        margin-top: 2em;
    }
}