$content-max-width: 900px;
$title-header-height: 50px;

@keyframes fadeInAnimation {
    from {
        //transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    to {
        //transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

body {
    color: black;
}

.title-header {
    width: 100%;
    min-height: $title-header-height;
    background-color: #262626;
    color: #fff;
    font-family: $title-font;
    font-size: 35px;
    line-height: $title-header-height;
    padding: 0 0.75em;
    //text-align: right;

    font-weight: lighter;

    @include mobile {
        text-align: center;
        padding: 0;
    }
    
}

.main-content {
    width: 100%;
    padding: 0 2em 0 2em;
    animation-duration: .38s;
    animation-fill-mode: both;
    animation-name: fadeInAnimation;
    max-width: $content-max-width;
    margin-bottom: 4em;  // Some padding on the bottom for breathing room
    margin-left: 0;

    .row {
        margin: 0;
    }

    h1 {
        font-weight: 300;
        font-size: 30px;
        font-family: $header-font;
        color: $primary_color;
    }

    h2, h3, h4, h5, h6 {
        font-family: $header-font;
        color: $primary_color;
    }

    p {
        //font-family: 'Ubuntu', Helvetica, Arial, serif;
        font-family: $body-font;
        font-size: 16px;
        line-height: 25px;
        font-weight:400;
        color: $primary_text_color;
        //text-align: justify;
    }

    strong {
        font-weight: 700;
        color: $bold_text_color;
    }

    em {
        font-style: italic;
    }

    hr {
        height: 30px;
        border-style: solid;
        border-color: $primary_color;//#6a6a6a;
        border-width: 1px 0 0 0;
    }

    p.highlight,
    span.highlight {
        font-weight: 700;
        color: $bold_text_color;
    }

    ul.arrow-marks {
        list-style-position: inside;
        padding-left:1.5em;
        > li {
            display: block;
            &:before{
                /*Using a Bootstrap glyphicon as the bullet point*/
                content: "\e080";
                font-family: 'Glyphicons Halflings';
                font-size: 9px;
                float: left;
                margin-top: 7px;
                margin-left: -17px;
                color: #CCCCCC;

            }
        }
    }

    img {
        max-width: 80%;
        
        &.img-inline {
            float:left;
            margin: 0em 2em 1em 0;
            //border-radius: 12px;
            //border: solid 2px $primary_color;
        //    width: 50%;
        //    height: 50%;
        }
    }

    a {
        color: $link_color;
        text-decoration: none;
        border-bottom: 1px solid $link_color;
        transition:.5s;

        &:hover{
            background: $link_color;
            color: $theme_background_color;
        }
    }

}

body {
    background: $theme_background_color;
/*    background-image: url(/resources/Images/dark_embroidery.png);*/
/*    background-repeat: repeat;*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#thursday-button {
    $button-height: 30px;

    position: absolute;
    top: ($title-header-height - $button-height) / 2;
    right: ($title-header-height - $button-height) / 2;
    height: $button-height;
    line-height: $button-height;
    padding: 0 1rem; // Remove padding for Chrome

    visibility: hidden;
    box-shadow: none;
    transition: none;
    background-image: none;
    filter: none;
    border: 0 none;

    @include mobile {
        right: 40px + 10px + 10px;
    }
}

#confetti-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    pointer-events:none;
}

// Sidebar is collapsed
@include mobile {
    .main-content {
        h1{
            text-align: center;
        }

        .img-inline {
            float:none;
            margin:auto;
            margin-bottom: 1em;
            margin-top: 1em;
        }

    }

}

// Sidebar is enabled
@include desktop {

}