extends /partials/layout.pug 

block dinosaur

    //
        ~
                                                                    _    
                                                                   /M\        
                                                                  O   O 
                                                                  |/ \     
                                                                  \___|
                                                                 / ___/       
                                                                 |   /      
                                                                 /   /       
                                                                 /   /        
                                                                /    /        
                                                                /    /        
                                                                /    /        
            \                                                   /   /      
            \\                                                  /   /     
             \|                                                 /   /         
             | |                                                |   |         
             \ |                                                |   |        
             \ \                                               /    |        
             \  |                                              |    /        
              \ \                                              /    |       
              \  \                                             |   /         
              \  \                                            |    /         
              \  \                                           |     /         
              \  \                                           /    |/          
              /  \                                           /    |           
              /  \                                           /    /           
              /  \                                           |    /           
             /   /                                          /    |/           
             |   /                                          /    |            
            |    |                                          /    /            
            |    |                                         |     /            
           |     |                                         /    |/            
          |     |                                          /    |             
         |     /                                           /    /             
        /     |                                           /     /             
             |                                           |     //             
            \                                          //      |              
            \                                        -/        /            
            \                                      -/          /              
            \                                     /           |/              
            \                     ________/---/--/            /             
        |   \               -----/                           |/__           
        |   |          /---/                                 |   \           
        \    \        /                                     |/   |            
        \    |       -                                      /     \          
         \   \      /                                      /       |          
         |    |    -                        \             /        |         
         \    \   /                         |        \             |          
         |    \   |                         \         \            \         
         \     \ /     \           \         |         |           |          
          |    \ /     \           |         \         \        |  \         
          |     \|     \            |         |         |       /   |         
           \     \      \           |         |         |       /   |         
           |      \     /\          |         \         \      |    |         
           |       \   /  \          \         |         |    /     |         
            \          /   |         |\\\\\\\\\\\       |     /     \        
             \         /    \\       |           \       |/--/ \     |       
              \\      /\      \      |            |      |     |     |        
                \     / \     /\      \           |      |     \     |        
                 \    / /    / |      |           \      \     |     |       
                  \--/  /    / \     /            |      |     \     |       
                       /     /  \     |           \      \     \     |       
                       |    |    |    |            |     |     |     \       
                       |    |    |    |            |     |     \     |       
                        |   \    \    |            \     /     |     /       
                        |   /    |    \            |     |     \     |        
                        /   |     \   |            \     \      \    /       
                        |   \     |    |            |    |      \    |        
                        /    |    |    \            |    |      \    |        
                        |    \    |    |            /    \       |    \     
                        /   #\    /     \           /    |       /    |       
                                  /  ###\          /  ###\       /  ##\     
        

append meta
    meta(name='description', content='Cellular Automata in your browser.')
    meta(name='keywords', content='cellular, automata, javascript, js, browser')
    title Dust  

append head
    style.
        #dust-container {
            max-width: 512px;
            max-height: 512px;
            width: 80vw;
            height: 80vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3em;
            margin-bottom: 1.5em;
            position: relative;
        }

    // Get latest version of Guify off of NPM
    script(src='https://unpkg.com/guify')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js')

append title
    | Dust

append content
    .row
        .col-md-10
            object
                // Required: main container into which dust will render.
                #dust-container
            p(style='text-align:center')
                strong(style="color: red;") Epilepsy Warning:
                |  Some settings can cause bright flashing.

        .col-md-10
            section#Main
                p.
                    Dust is a WebGL-based simulator / renderer for various Cellular Automata. The simulation 
                    is largely based on <a href="https://sanojian.github.io/cellauto/">CellAuto</a>, and many 
                    of the automata came from there (see the repo for this project on <a href="https://github.com/colejd/Dust">GitHub</a> 
                    for more information). My goals with this are to add interactivity and graphical features 
                    as time goes on.
                p. 
                    Planned features:
                ul.arrow-marks
                    li 
                        p Brushes
                    li 
                        p Creatures (automata with lifetimes and behaviors)
                    li 
                        p <a href="http://thomasdiewald.com/blog/?p=2949">Global Line Radiosity</a>
                    li 
                        p More automata


append body
    script(src='js/dust.min.js')

