extends /partials/layout.pug 

block dinosaur

    //
        ~
                                                                        ///\\\\        
                                               --_                    //       \\      
                                                \ \                ///           \\    
                                                \  \             //       ///\\    \   
                          --___   //////\\\\    |   \         ///       //     \   \   
                          \    ///          \\\\\\\ |       //        //       \    \  
                           \///                    \\\\\\\///        /          \    \ 
                          //                                        /            \   \ 
                         /                                         /             \    \
                       //                                        //              \    \
                     //                                         /                 \   \ 
                    /                            /     \      //                  \   \ 
                  //                  \          \     /    //                    \   / 
                 /                    /           \    /   /                      /   / 
                /     ///\\\\\  \     /           |    |///                       /   / 
              //    //        \\|    /\\\       ///    /                         /    /
             /    //            /    /   \\\\/// /    /                          /    /
            /   //              /    /           /   /                          /    / 
            /   /              /   _/           /  _/                           /    / 
            /   /              /  /            /__/                            /    /  
            \   \             /__/                                            /    /   
             \  \                                                           _/    /    
              \  \                                                       __/     /     
               \  \                                                  ___/       /      
               \  \_                                           __---/       ___/       
                \   ---_____                             __---/          __/           
                 \______-----                           /        _____---              
                                                       /     ___/                      
                                                      /     /                          
                                                      |  O  \                          
                                                      /    /|                          
                                                      /   / /                          
                                                      /  / /                           
                                                      |m/\_/      



append headinfo
    meta(name='ROBOTS', content='INDEX, FOLLOW')
    meta(name='description', content='Guify')
    title Guify

append head
    style.

        #guify-container {
            max-width: 512px;
            max-height: 512px;
            width: 80vw;
            height: 80vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5em;
            margin-bottom: 1.5em;
            position: relative;
        }

        #guify-container-content {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgb(255, 255, 230);

            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }

        #content-text {
            font-family: monospace;
        }
        

append content
    .row
        .col-md-10
            object
                #guify-container
                    #guify-container-content
                        #content-text [content]

            br
            p(style='text-align: center;').
                Themes: 
                <a href="javascript:void(0);" onclick="onThemeChange('light');">Light</a> - 
                <a href="javascript:void(0);" onclick="onThemeChange('dark');">Dark</a> - 
                <a href="javascript:void(0);" onclick="onThemeChange('yorha');">YoRHa</a>
                <br>
                Menu Bar: <a href="javascript:void(0);" onclick="onBarmodeChange('above');">Enable</a> - 
                <a href="javascript:void(0);" onclick="onBarmodeChange('none');">Disable</a>
            hr

        .col-md-10
            section#Main
                h1 Guify
                p.
                    Guify is a GUI system you can use in your JavaScript projects to modify variables and trigger actions.
                    I initially used <a href="https://workshop.chromeexperiments.com/examples/gui">dat.GUI</a>
                    while working on the other JavaScript projects on this website, but I was frustrated
                    with its limitations and wanted something better.
                p.
                    Guify is my solution. It's easy to use on mobile, easy to customize visually and functionally,
                    and it's built with accessibility in mind.
                p.
                    You can find more information on the <a href="https://github.com/colejd/guify">GitHub repo</a>, 
                    and you can get the latest version yourself as an <a href="https://www.npmjs.com/package/guify">NPM package</a> 
                    or for browser embedding through a CDN at <a href="https://unpkg.com/guify">unpkg.com/guify</a>.
                    

append body
    // Get latest version of Guify off of NPM
    script(src='https://unpkg.com/guify')
    script(src='index.js')

