extends /partials/layout.pug 

block dinosaur

    //
        ~
                                                             ___._
                                                           .'  <0>'-.._
                                                          /  /.--.____")
                                                         |   \   __.-'~
                                                         |  :  -'/
                                                        /:.  :.-'
        __________                                     | : '. |
        '--.____  '--------.______       _.----.-----./      :/
                '--.__            `'----/       '-.      __ :/
                      '-.___           :           \   .'  )/
                            '---._           _.-'   ] /  _/
                                 '-._      _/     _/ / _/
                                     \_ .-'____.-'__< |  \___
                                       <_______.\    \_\_---.7
                                      |   /'=r_.-'     _\\ =/
                                  .--'   /            ._/'>
                                .'   _.-'
                               / .--'
                              /,/
                              |/`)
                              'c=,

append headinfo
    meta(name='ROBOTS', content='INDEX, FOLLOW')
    meta(name='description', content='Bio and contact information for Jonathan Cole.')
    meta(name='keywords', content='UMaine, Jonathan, Cole, SIE, Spatial, Computer, Science, VEMI')
    title About Jon


append content
    h1 About Me
    .row
        // Inline style for about image
        style.
            /* Sidebar enabled style (desktop) */
            @media(min-width: 767px) {
                .about-image {
                    width: 30%; 
                    height: auto;
                }
            }
            /* Sidebar disabled style (mobile) */
            @media(max-width: 767px) {
                .about-image {
                    width: 70%; 
                    height: auto;
                    margin-bottom: 2em !important;
                }
            }
            
        img.img-inline.img-responsive.about-image(src='/resources/images/profile_outside.png', alt='Portrait of Jon')

        section#bio
            p.
                I'm a software developer and graduate student based in Orono, Maine. I really enjoy
                creative coding; I've done projects all over the place, from fluid simulation to 
                articulatory speech synthesis. I like learning new things. Someday, I'd like to 
                present at SIGBOVIK or SIGGRAPH.
            p.
                Currently, I'm working toward my Master's degree in Spatial Information Science
                and Engineering. My work focuses on the use of augmented reality technology
                to help people with sensory impairments to navigate.

    section#work
        h2 Work
        p.highlight #[b Current:]
        ul.arrow-marks
            li
                p VR / AR / everything else developer at the #[a(href='http://www.vemilab.org/') VEMILab]
            li
                p Graduate Assistant, Computer Science Department, University of Maine
        p.highlight #[b Past:]
        ul.arrow-marks
            li
                p Interactive Kiosk - #[i Sea What Grows Exhibit - Maine Discovery Museum]
            li
                p VR Installation - #[i Maine Discovery Museum]
        
    section#education
        h2 Education
        ul.arrow-marks
            li
                p #[b B.S. Computer Science] - #[i Spring 2015, University of Maine]
            li
                p #[b M.S. Spatial Information Science and Engineering] - #[i Summer 2017 (expected), University of Maine]
    section#skills
        h2 Skills
        p.
            I've worked with a variety of languages and tools during my time at the VEMILab, 
            and have worked extensively with Unity. Much of my time has been spent making 
            various VR hardware communicate properly with Unity and other platforms. My 
            academic work includes VR experiment design for human trials. I'm effective 
            both independently and in a team, and have worked in teams using Scrum and 
            Kanban methodologies.
        ul.arrow-marks
            li
                p
                    span.highlight Languages:
                    |  C#, Python, JavaScript, Java, C++, Swift, GLSL, SQL
            li
                p
                    span.highlight Platforms:
                    |  Unity, Git, iOS, OpenFrameworks, Cinder
            li
                p
                    span.highlight Frameworks:
                    |  Node, OpenCV, OpenGL
            li
                p
                    span.highlight Domains:
                    |  Virtual Reality, Augmented Reality, Graphics Programming, iOS Development, Front-End Web Development
        p.
            You can see a sample of my public work at my 
            #[a(href='https://www.github.com/seieibob') GitHub page].
