doctype html
html

//- Redirects to my resume file.
head
    meta(charset="utf-8")

    meta(name="robots", content="noindex, nofollow")
    meta(name="description", content="Redirects to Jon's resume.")
    meta(http-equiv="refresh", content="0; url='/resources/Resume_Jonathan_Cole_2017.pdf'")

</head>

<body>
</body>


</html>
